body{
    margin:0;
  }
  a {
    color:black;
  }
  h1{
    font-size:100px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right:1px solid gray;
    width:150px;
    margin:0;
    padding:20px;
    padding-bottom: 1000px;
  }
  #grid{
      display: grid;
      grid-template-columns: 200px 1fr;
    }
